{% assign image_stretch = false %}

{% assign crop_setting = settings.product-grid %}
{% if crop_setting == "square" %}
    {% assign image_crop = "aspect-ratio--square" %}
    {% assign image_stretch = true %}
{% elsif crop_setting == "tall" %}
    {% assign image_crop = "aspect-ratio--tall" %}
    {% assign image_stretch = true %}
{% elsif crop_setting == "wide" %}
    {% assign image_crop = "aspect-ratio--wide" %}
    {% assign image_stretch = true %}
{% else %}
    {% assign image_crop = false %}
    {% assign image_stretch = false %}
{% endif %}

{% comment %} Construct block order {% endcomment %}
{% assign block_order = blocks | split: "," %}

<div
  class="grid-view-item text-center"
  data-product-available="{{ product.available }}"
  data-product-variants-size="{{ product.variants.size }}"
  data-product-id="{{ product.variants.first.id }}"
>
  {%- for block in block_order -%}
    {%- case block -%}
    {%- when 'product_card_image' -%}
      <div class="grid-view-item-image relative" data-block-type="product_card_image">
        {% comment %} {% if enable_badges %}
          {% if product.compare_at_price_max > product.price and product.available %}
            <div class="sale-badge badge absolute right-0 top-0 z-10">{{ 'products.product.on_sale' | t }}</div>
          {% endif %}
          {% unless product.available %}
            <div class="sold-out-badge badge absolute right-0 top-0 z-10">{{ 'products.product.sold_out' | t }}</div>
          {% endunless %}
        {% endif %} {% endcomment %}
        {% if hover_effect and product.media.size > 1 %}
          <div class="reveal">
        {% endif %}
        <a href="{{ product.url | within: collection }}" title="{{product.title}}" class="grid__image grid__image__match" tabindex="-1">
          {% if image_crop %}<div class="aspect-ratio {{ image_crop }}">{% endif %}
			  {% assign image = product.media[0].preview_image %}
			  {% capture classs %}object-contain h-[240px]{% endcapture %}
            {% render 'responsive-image' with image, alt: image.alt, allow_stretch: image_stretch, blur: false, class: classs %}
            {% if hover_effect and product.media.size > 1 %}
              <div class="hidden">
				  {% assign image = product.media[1].preview_image %}
				  {% capture classs %}object-contain h-[240px]{% endcapture %}
                {% render 'responsive-image' with image, alt: image.alt, allow_stretch: image_stretch, blur: false, class: classs %}
              </div>
            {% endif %}
          {% if image_crop %}</div>{% endif %}
        </a>
        {% if hover_effect and product.media.size > 1 %}
          </div>
        {% endif %}
        {% if quick_shop %}
          <div class="shop-now-wrapper shop-now-wrapper--desktop">
            <a class="shop-now-button" href="{{ product.url | within: collection }}">{{ 'products.product.quick_shop' | t }}</a>
          </div>
        {% endif %}
	  </div>
	{%- when 'product_card_vendor' -%}
      <div class="product-grid--vendor-text font-bold text-blue-dark" data-block-type="product_card_vendor">{{ product.vendor }}</div>
    {%- when 'product_card_title' -%}
      <div class="product-grid--title" data-block-type="product_card_title">
        <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
      </div>
{% comment %}Start automatically added Judge.me widget{% endcomment %}
  {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', concierge_install: true, product: product %}
{% comment %}End automatically added Judge.me widget{% endcomment %}

     {%- when 'product_card_price' -%}
      <div class="product-grid--price font-lg font-bold text-green-mist" data-block-type="product_card_price">
        {%- render 'product-grid-item-price', product: product, collection: collection -%}
      </div>

    {%- when 'product_card_button' -%}
      <div class="quick-add-wrapper{% if product.variants.size == 1 %} is-singular{% endif %}" data-block-type="product_card_button">
        {% if product.variants.size > 1 and product.available %}
            <a class="quick-add-button-variants" tabindex="0" href="{{ product.url | within: collection }}">{{ 'products.product.view_options' | t }}</a>
        {% elsif product.available %}
          {% form 'product', product, id: "CollectionAddToCartForm" %}
            <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
            <button class="quick-add-button quick-add-button bg-orange-dark text-white text-center hover:text-green-mist uppercase text-sm px-6 py-3" type="submit" tabindex="0">{{ 'products.product.add_to_cart' | t }}</button>
          {% endform %}
        {% else %}
          <a class="sold-out-button text-center font-bold text-red-strong" tabindex="0" href="{{ product.url | within: collection }}">{{ 'products.product.sold_out' | t }}</a>
        {% endif %}
      </div>
    {%- endcase -%}
  {%- endfor -%}
</div>
