{% if paginate.pages > 1 %}
<div class="pagination">

  <ul>
    {% if paginate.previous %}
      <li class="pagination-arrow"><a href="{{ paginate.previous.url }}"><i class="fa icon-angle-left"></i></a></li>      
    {% else %}
      <li class="prev disabled"><a href="#" onclick="return false;">&laquo;</a></li>
    {% endif %}
    
    {% for part in paginate.parts %}
      {% if part.is_link %}
        <li class="pagination-number">{{ part.title | link_to: part.url }}</li>
      {% else %}
        {% if part.title == '&hellip;' %}
        <li class="ellipsis">{{ part.title }}</li>
        {% else %}
        <li class="active pagination-number">{{ part.title | link_to: part.url }}</li>
        {% endif %}
      {% endif %}
    {% endfor %}     

    {% if paginate.next %}
      <li class="pagination-arrow"><a href="{{ paginate.next.url }}"><i class="fa icon-angle-right"></i></a></li>
    {% else %}
      <li class="next disabled"><a href="#" onclick="return false;">&raquo;</a></li>
    {% endif %}    
  </ul>

</div>
{% endif %}
