<!-- /snippets/search-bar.liquid -->
{% comment %}

  A snippet to include a search bar anywhere in your theme.
  Note we are using 'input-group' for the layout. Look under Forms > Input Groups for some demos.

  More information:
   - http://docs.shopify.com/themes/liquid-variables/search

  To return only products in results:
    - http://docs.shopify.com/manual/configuration/store-customization/return-only-product-in-storefront-search-results
    - Or manually add type=product to the search URL as a query parameter
    - Uncomment hidden input with value="product" below

{% endcomment %}

<form action="{{ routes.search_url }}" method="get" class="input-group search-bar border border-orange-dark flex items-center justify-between" role="search">
	<div class="search-bar-input-group w-full flex items-center">
    	{% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
    	<input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="input-group-field form-input border-0 ring-0 w-full border-transparent focus:border-transparent focus:ring-0 py-4" aria-label="{{ 'general.search.placeholder' | t }}" />
 	</div>
  	<span class="input-group-btn">
    	<button type="submit" class="btn icon-fallback-text text-center p-4">
      		<i class="fa fa-search"></i>
      		<span class="fallback-text">{{ 'general.search.submit' | t }}</span>
    	</button>
  	</span>
</form>
