<!-- /templates/customers/login.liquid -->
<div class="wrapper-padded py-4 px-4 md:px-0">
	<div class="page-main--wrapper max-w-md mx-auto text-center">
    	<div class="grid grid-cols-1 gap-4">
      		{% comment %}
        		If a user has successfully requested a new password, the form.posted_successfully? variable
        		is set to true within the 'recover_customer_password' form only. Within that form you'll see
        		the variable 'resetPassword' set to true, which is used to initialize timber.resetPasswordSuccess().
      		{% endcomment %}
      		<div class="note form-success" id="ResetSuccess" style="display:none;">
        		{{ 'customer.recover_password.success' | t }}
      		</div>
      		<div id="CustomerLoginForm" class="form-vertical">
        		{% form 'customer_login' %}
          		<div class="sitewide--title-wrapper">
            		<h1 class="page--title text-brown-zin text-2xl font-normal mb-4">{{ 'customer.login.title' | t }}</h1>
          		</div>
          		{{ form.errors | default_errors }}
				<div class="block mb-4">
          			<label for="CustomerEmail" class="hidden">{{ 'customer.login.email' | t }}</label>
          			<input type="email" name="customer[email]" id="CustomerEmail" class="input-full block w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.login.email' | t }}" autocorrect="off" autocapitalize="off" ref="customerEmail" autofocus>
				</div>
				{% if form.password_needed %}
					<div class="block mb-4">
            			<label for="CustomerPassword" class="hidden">{{ 'customer.login.password' | t }}</label>
						<input type="password" value="" name="customer[password]" id="CustomerPassword" class="input-full block w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.login.password' | t }}">
					</div>
          		{% endif %}
          		<div class="block mb-4">
            		<input type="submit" class="btn w-full cursor-pointer hover:text-green-mist mt-1 py-3 px-4 bg-orange-dark text-sm uppercase text-white" value="{{ 'customer.login.sign_in' | t }}">
				</div>
				<div class="grid grid-cols-2 divide-x">
          			{% comment %} <p><a href="{{ routes.root_url }}" class="login-form-cancel">{{ 'customer.login.cancel' | t }}</a></p> {% endcomment %}
          			{{ 'layout.customer.create_account' | t | customer_register_link }}
          			{% if form.password_needed %}
            			<a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a>
					{% endif %}
				</div>
				{% endform %}
			</div>
			{% comment %}
    			JS shows/hides this form in timber.loginForms()
    		{% endcomment %}
			<div id="RecoverPasswordForm" style="display: none;">
				<div class="sitewide--title-wrapper">
        			<h2 class="page--title text-brown-zin text-2xl font-normal mb-4">{{ 'customer.recover_password.title' | t }}</h2>
    			</div>
        		<p>{{ 'customer.recover_password.subtext' | t }}</p>
        		<div class="form-vertical">
        			{% form 'recover_customer_password' %}
            			{{ form.errors | default_errors }}
            			{% comment %}
              				Assign variable to be used after timber.init() is run in theme.liquid
            			{% endcomment %}
            			{% if form.posted_successfully? %}
              				{% assign resetPassword = true %}
            			{% endif %}
						<div class="block mb-4">
            				<label for="RecoverEmail" class="hidden">{{ 'customer.recover_password.email' | t }}</label>
            				<input type="email" value="" name="email" id="RecoverEmail" class="input-full block w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">
						</div>
            			<div class="block mb-4">
              				<input type="submit" class="btn w-full cursor-pointer hover:text-green-mist mt-1 py-3 px-4 bg-orange-dark text-sm uppercase text-white" value="{{ 'customer.recover_password.submit' | t }}">
            			</div>
            			<div>
              				<a id="HideRecoverPasswordLink" href="javascript:void(0);" class="text-link">{{ 'customer.recover_password.cancel' | t }}</a>
            			</div>
          			{% endform %}
        		</div>
      		</div>
      		{% comment %}
        		If accounts are set as optional, the following will be shown as an option
        		during checkout, not on the default /login page.
      		{% endcomment %}
      		{% if shop.checkout.guest_login %}
    			<hr>
        		<h2>{{ 'customer.login.guest_title' | t }}</h2>
        		{% form 'guest_login' %}
          			<input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
        		{% endform %}
      		{% endif %}
    	</div>
  	</div>
</div>
