<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
	
  <head>
    <script>
window.dataLayer = window.dataLayer || [];
window.dataLayer.push({
{% if customer %}
userType: "member",
customer: {
id: {{ customer.id }},
lastOrder: "{{ customer.orders.first.created_at | date: '%B %d, %Y %I:%M%p' }}",
orderCount: {{ customer.orders.size }},
totalSpent: {% if customer %}{% assign total_spent = 0 %}{% for item in customer.orders %}{% assign total_spent = total_spent | plus: item.total_net_amount %}{% endfor %}{{ total_spent | money_without_currency | remove:"," }}{% else %}""{% endif %},
tags: {{- customer.tags | json -}}
},
{% else %}
userType: "visitor",
customer: {
id: "",
lastOrder: "",
orderCount: "",
totalSpent: "",
tags: ""
},
{% endif %}
});
</script>
    <script type="text/javascript">
  (function () {
    var VARemoteLoadOptions = {
      whiteLabel: { id: 8, siteId: 2788, domain: 't.adotone.com' },
       locale: "en-US", mkt: true
    };
    (function (c, o, n, v, e, r, l, y) {
      c['VARemoteLoadOptions'] = e; r = o.createElement(n), l = o.getElementsByTagName(n)[0];
      r.async = 1; r.src = v; l.parentNode.insertBefore(r, l);
    })(window, document, 'script', 'https://cdn.adotone.com/javascripts/va.js', VARemoteLoadOptions);
  })();
</script>

  <meta name="baidu-site-verification" content="codeva-ga1N0lGRxW" />
  <meta name="google-site-verification" content="F0I5j_cZx7_Vt0TOlUEbZE8Yuv2z5cZA9vStIpFXBc0" />
    
    <link rel="preload" href="{{ 'custom.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
 {%- render 'ecom_header' -%}
  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  {%- comment -%}DemoStoreRequirements{%- endcomment -%}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  {%- unless settings.type_header_font.system? -%}
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  {%- endunless -%}

  {% comment %}<link rel="preload" href="{{ 'theme.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />{% endcomment %}
  <link rel="preload" href="{{ 'font-awesome.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
  <link rel="preload" href="{{ 'swiper.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
  <link rel="preload" href="{{ 'glider.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
  <link rel="preload" href="{{ 'shl.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'"/>

  {% if settings.animations_enabled %}
  	<link rel="preload" href="{{ 'animate.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
  {% endif %}

  {% if settings.popup--enable %}
  	<link rel="preload" href="{{ 'fancybox.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
  {% endif %}

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '180x180', crop: 'center' }}" type="image/png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | img_url: '180x180', crop: 'center'  }}">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ settings.favicon | img_url: '180x180', crop: 'center'  }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ settings.favicon | img_url: '32x32', crop: 'center'  }}">
    <link rel="icon" type="image/png" sizes="194x194" href="{{ settings.favicon | img_url: '194x194', crop: 'center'  }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ settings.favicon | img_url: '192x192', crop: 'center'  }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ settings.favicon | img_url: '16x16', crop: 'center'  }}">
  {% endif %}
  {% comment %} {%- unless settings.type_header_font.system? -%}
    <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
  {%- endunless -%}
  {%- unless settings.type_base_font.system? -%}
    <link rel="preload" as="font" href="{{ settings.type_base_font | font_url }}" type="font/woff2" crossorigin>
  {%- endunless -%}
  {%- unless settings.type_navigation_font.system? -%}
    <link rel="preload" as="font" href="{{ settings.type_navigation_font | font_url }}" type="font/woff2" crossorigin>
  {%- endunless -%} {% endcomment %}

  <!-- Title and description ================================================== -->
  <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% render 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================== -->
  {% render 'css-variables' %}
  <!-- Header hook for plugins ================================================== -->
  {% if request.path contains '/policies/shipping-policy' %}
	   {{ 'shipping_policy.css' | asset_url | stylesheet_tag }}
  {% else %}
    {{ content_for_header }}
  {% endif %}

  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  {% if template.name == 'article' %}
    <script src="{{ 'textSlideshow.js' | asset_url }}" defer="defer"></script>
  {% endif %}

  <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
  {{ 'theme.min.css' | asset_url | stylesheet_tag }} 
  <noscript>{{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}</noscript>
  <noscript>{{ 'swiper.min.css' | asset_url | stylesheet_tag }}</noscript>
  {% if settings.animations_enabled %}
  	<noscript>{{ 'animate.min.css' | asset_url | stylesheet_tag }}</noscript>
  {% endif %}
  {% if settings.popup--enable %}
  	<noscript>{{ 'fancybox.min.css' | asset_url | stylesheet_tag }}</noscript>
  {% endif %}
  <noscript>{{ 'shl.min.css' | asset_url | stylesheet_tag }}</noscript><!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KF3CJKH');</script>
<!-- End Google Tag Manager -->

  {% render 'judgeme_core' %}
<meta name="google-site-verification" content="PiUYlGa6218VFcIfyp-1KBQrxxPyH5Kkus7TLI1uGe0" />
  
  
    <link rel="preload" href="{{ 'paymentfont.scss.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}  
  <body id="{{ page_title | handle }}" class="{% if template == 'page.contact' %}contact-page {% endif %}{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% unless settings.animations_enabled %} animations-disabled{% endunless %}{% if settings.page_fade_enabled %} page-fade{% endif %}{% if settings.color_body_bg == settings.header-bg-color %} white--match{% endif %}{% if settings.product-grid != 'natural' %} images-aspect-ratio{% endif %} ">
  {% comment %}
  Cart Drawer, also used by 'Quick View', 'LogIn', and 'Search'
  {% endcomment %}
  {% render 'right-drawer' %}
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KF3CJKH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div id="DrawerOverlay" class="drawer-overlay"></div>
  <div id="PageContainer" data-editor-open="{{ request.design_mode }}" data-cart-action="{{ settings.ajax_cart_method }}" data-language-url="{{ localization.language.root_url }}">
    <div class="no-js disclaimer">
      <p>This store requires javascript to be enabled for some features to work correctly.</p>
	</div>
	{% section 'announcement-bar' %}
	{% section 'header-logo' %}
	{% section 'header' %}
	<div class="md:hidden site-title p-4" itemscope="" itemtype="http://schema.org/Organization">
      <a href="/" itemprop="url" class="site-header__logo-image">
		<div class="flex items-center" style="">
			<noscript aria-hidden="true">
 	 			<img width="2725" height="550" class="" src="//cdn.shopify.com/s/files/1/0641/7026/2778/files/SHL-LOGO_B_1000x1000.png?v=1654348133" alt="SHL" itemprop="logo" loading="lazy" />
			</noscript>
			<img loading="lazy" class=" js" style="max-height: 550px; width: 355px" alt="SHL" itemprop="logo" width="2725" height="550" srcset="//cdn.shopify.com/s/files/1/0641/7026/2778/files/SHL-LOGO_B_550x.png?v=1654348133 550w,//cdn.shopify.com/s/files/1/0641/7026/2778/files/SHL-LOGO_B_750x.png?v=1654348133 750w,//cdn.shopify.com/s/files/1/0641/7026/2778/files/SHL-LOGO_B_1100x.png?v=1654348133 1100w,//cdn.shopify.com/s/files/1/0641/7026/2778/files/SHL-LOGO_B_1445x.png?v=1654348133 1445w,//cdn.shopify.com/s/files/1/0641/7026/2778/files/SHL-LOGO_B_1680x.png?v=1654348133 1680w,//cdn.shopify.com/s/files/1/0641/7026/2778/files/SHL-LOGO_B_2048x.png?v=1654348133 2048w,//cdn.shopify.com/s/files/1/0641/7026/2778/files/SHL-LOGO_B_2200x.png?v=1654348133 2200w,//cdn.shopify.com/s/files/1/0641/7026/2778/files/SHL-LOGO_B.png?v=1654348133 2725w" sizes="(min-width: 2000px) 1000px, (min-width: 1445px) calc(100vw / 2), (min-width: 1200px) calc(100vw / 1.75), (min-width: 1000px) calc(100vw / 1.5), (min-width: 750px) calc(100vw / 3), 100vw" src="//cdn.shopify.com/s/files/1/0641/7026/2778/files/SHL-LOGO_B_1445x.png?v=1654348133">
		</div>
      </a>
    </div>
    {% unless template contains 'contact' %}
      {% if settings.enable_breadcrumbs %}
        {% render 'breadcrumb' %}
      {% endif %}
    {% endunless%}

    {% if template == 'index' %}
		<div class="flow-homepage container my-1">
    {% elsif template == 'cart' or template contains 'customers/' %}
      <div class="main-content page-main--wrapper container my-1">
    {% else %}
      <div class="wrapper main-content page-main--wrapper container my-1">
    {% endif %}
        {{ content_for_layout }}
      </div>
  
  <div class="footer-wrapper">
      {% section 'footer' %}
    </div>
  <script>
  // block f5, ctrl+ r
  document.onkeydown = checkKeycode
    function checkKeycode(e) {
      var keycode;
      if (window.event)
        keycode = window.event.keyCode;
      else if (e)
        keycode = e.which;
      // IE
    }
    console.log(document.querySelector('#shopify-chat'),'aaa');
    document.querySelector('#shopify-chat iframe').addEventListener('click', () => {
      console.log(document.querySelector('#shopify-chat iframe'));
    })
  </script>
  <script defer type="module" src="{{ 'theme.min.js' | asset_url }}"></script>
  <script src="{{ 'theme-custom.js' | asset_url }}" defer="defer"></script>
  <script defer nomodule src="{{ 'theme.legacy.min.js' | asset_url }}"></script>
  <script defer type="module" src="{{ 'glider.min.js' | asset_url }}"></script>
  <script defer type="module" src="{{ 'instafeed.min.js' | asset_url }}"></script>
  <script defer type="module" src="{{ 'shl.js' | asset_url }}"></script>
  {% if settings.popup--enable %}
    {% render 'popup' %}
  {% endif %}

  {% if settings.enable_verification_popup %}
    {% render 'verification-popup' %}
  {% endif %}

  <script type="application/json" id="wetheme-global">
    {
      {% comment %}Translations that will be used in javascript section handling{% endcomment %}
      "translations": {
        "addToCart": {{ 'products.product.add_to_cart' | t | json }},
        "added": {{ 'products.product.added' | t | json }},
        "soldOut": {{ 'products.product.sold_out' | t | json }},
        "unavailable": {{ 'products.product.unavailable' | t | json }},
        "no_results_html": {{ 'general.search.no_results_html' | t | json }},
        "results_for_html": {{ 'general.search.results_for_html' | t | json }},
        "products": {{ 'general.search.products' | t | json }},
        "pages": {{ 'general.search.pages' | t | json }},
        "collections": {{ 'general.search.collections' | t | json }},
        "articles": {{ 'general.search.articles' | t | json }},
        "quick_shop": {{ 'products.product.quick_shop' | t | json }},
        "view_options": {{ 'products.product.view_options' | t | json }},
        "read_more_html": {{ 'products.product.read_more_html' | t | json }},
        "read_less_html": {{ 'products.product.read_less_html' | t | json }},
        "youve_viewed": {{ 'collections.paginate.youve_viewed' | t | json }},
        "load_more": {{ 'collections.paginate.load_more' | t | json }},
        "productAdded": {{ 'products.product.added' | t | json }},
        "loading": {{ 'collections.paginate.loading' | t | json }},
        "giftwrap_label": {{ 'products.general.giftwrap_label' | t | json }},
        "yes": {{ 'products.general.yes' | t | json }}
      },
      "moneyFormat": {{ shop.money_format | json }},
      "giftwrapProduct": {{ settings.giftwrap_product_selector | json }}
    }
  </script>

<!-- **BEGIN** Hextom QAB Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_qab_main', product: product, customer: customer %}
    <!-- **END** Hextom QAB Integration // Main Include - DO NOT MODIFY -->
{%- render "ecom_footer"-%}
      </body>
</html>

{% include 'etranslate-language-switch-control' %}
{% include 'etranslate-rtl' %}
{% include 'el-pagefly' %}
