{% assign display-total-collection-products-number-rows = section.settings.desktop-products-per-row %}
{% assign display-total-collection-products-per-row = section.settings.collection-products-per-page %}

{% assign display-total-collection-products-total = display-total-collection-products-number-rows | times: display-total-collection-products-per-row %}

{% comment %} Construct product card layout {% endcomment %}
{%- capture product_card_blocks -%}
  {%- for block in section.blocks -%}
    {%- if block.type contains "product_card_" -%}
      {{ block.type }},
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}

{% assign image_block = section.blocks | where: "type", "product_card_image" | first %}

{% paginate collection.products by display-total-collection-products-total %}

  {%- capture pagination_list -%}
    <ul>
      {% if paginate.previous %}
        <li class="pagination-arrow"><a href="{{ paginate.previous.url }}"><i class="fa icon-angle-left"></i></a></li>
      {% else %}
        <li class="prev disabled"><a href="#" onclick="return false;">&laquo;</a></li>
      {% endif %}

      {% for part in paginate.parts %}
        {% if part.is_link %}
          <li class="pagination-number">{{ part.title | link_to: part.url }}</li>
        {% else %}
          {% if part.title == '&hellip;' %}
            <li class="ellipsis">{{ part.title }}</li>
          {% else %}
            <li class="active pagination-number">{{ part.title | link_to: part.url }}</li>
          {% endif %}
        {% endif %}
      {% endfor %}

      {% if paginate.next %}
        <li class="pagination-arrow pagination-next"><a href="{{ paginate.next.url }}"><i class="fa icon-angle-right"></i></a></li>
      {% else %}
        <li class="next disabled"><a href="#" onclick="return false;">&raquo;</a></li>
      {% endif %}
    </ul>
  {%- endcapture -%}

  {% capture paginate_style %}
    {% if paginate.pages > 1 %}
      {% if section.settings.pagination_options == 'pagination_infinite_scrolling' or section.settings.pagination_options == 'pagination_load_more' %}
        <div style="display: none" class="pagination-loading">
          <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
          <span class="sr-only">{{ 'collections.paginate.load_more' | t }}</span>
        </div>
        <noscript>
          <div class="noscript-pagination">
            {{ pagination_list }}
          </div>
        </noscript>
      {% endif %}

      <div
        class="pagination{% if section.settings.pagination_options == 'pagination_infinite_scrolling' %} pagination-infinite{% elsif section.settings.pagination_options == 'pagination_load_more' %} pagination--load-more{% endif %}"
        data-paginate-items="{{ paginate.items }}"
        data-paginate-offset="{{ paginate.current_offset }}"
        data-paginate-size="{{ paginate.page_size }}"
      >
        {{ pagination_list }}
      </div>
    {% endif %}
  {% endcapture %}

{% case section.settings.desktop-products-per-row %}
  {% when 2 %}
    {% assign desktop_item_width = 'large--one-half wow fadeInUp' %}
  {% when 3 %}
    {% assign desktop_item_width = 'large--one-third wow fadeInUp' %}
  {% when 4 %}
    {% assign desktop_item_width = 'large--one-quarter wow fadeInUp' %}
  {% when 5 %}
    {% assign desktop_item_width = 'large--one-fifth wow fadeInUp' %}
  {% when 6 %}
    {% assign desktop_item_width = 'large--one-sixth wow fadeInUp' %}
{% endcase %}

{% case section.settings.tablet-products-per-row %}
  {% when 2 %}
    {% assign tablet_item_width = 'medium--one-half' %}
  {% when 3 %}
    {% assign tablet_item_width = 'medium--one-third' %}
  {% when 4 %}
    {% assign tablet_item_width = 'medium--one-quarter' %}
{% endcase %}

{% case section.settings.mobile-products-per-row %}
  {% when 1 %}
    {% assign mobile_item_width = 'small--one-whole' %}
  {% when 2 %}
    {% assign mobile_item_width = 'small--one-half' %}
  {% when 3 %}
    {% assign mobile_item_width = 'small--one-third' %}
{% endcase %}

{%- assign grid_item_width = desktop_item_width | append: ' ' | append: tablet_item_width | append: ' ' | append: mobile_item_width -%}

  <div
    id="CollectionProductGrid"
    data-section-id="{{ section.id }}"
    class="main-content page-main--wrapper"
    data-wetheme-section-type="template--collection"
    data-wetheme-section-id="{{ section.id }}"
  >
    <div class="collection-style--grid">
      <div class="collection-main-body grid-uniform">
        <input type="hidden" id="grid_item_width_classes" value="{{ grid_item_width }}" />
        <div
          class="collection-main-body-inner flex flex-wrap"
          data-grid-id="{{ section.id }}"
          id="template--collection"
        >
          {% for product in collection.products %}
            <div class="grid__item w-1/2 md:w-1/3 px-4 pb-4 {{ grid_item_width }}">
              {% render 'grid-view-item', product: product, collection: collection, hover_effect: image_block.settings.hover-effect, blocks: product_card_blocks, enable_badges: image_block.settings.enable_badges %}
            </div>
          {% else %}
            {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}

              <div class="grid__item w-1/2 md:w-1/3 px-4 pb-4">
                <div class="grid grid--uniform">
                  {% for i in (1..8) %}
                    <div class="grid__item wow fadeInUp">
                      <div class="grid-view-item">
                        <a href="#" class="grid-view-item__link">
                          <div class="grid-view-item__image">
                            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                          </div>
                          <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                          <div class="grid-view-item__meta">
                            <span class="product-price__price">{{ 1999 | money }}</span>
                          </div>
                        </a>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% else %}
              {% comment %}
                If collection exists but is empty, display message
              {% endcomment %}
              <div class="block w-full p-4">
                <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {{ paginate_style }}
  </div>

{% endpaginate %}

{% schema %}
{
    "name": "Collection grid",
    "class": "collection-grid main-page-container wrapper-padded md--w-250px",
    "settings": [
        {
            "type": "header",
            "content": {
                "en": "Products per row",
                "de": "Produkte pro Zeile",
                "es": "Productos por fila",
                "fr": "Produits par ligne",
                "pt-PT": "Produtos por linha"
            }
        },
        {
            "type": "range",
            "id": "desktop-products-per-row",
            "min": 2,
            "max": 6,
            "step": 1,
            "label": {
                "en": "Desktop",
                "de": "Desktop",
                "es": "Escritorio",
                "fr": "Ordinateur de bureau",
                "pt-PT": "Ambiente de trabalho"
            },
            "default": 4
        },
        {
            "type": "range",
            "id": "tablet-products-per-row",
            "min": 2,
            "max": 4,
            "step": 1,
            "label": {
                "en": "Tablet",
                "de": "Tablet",
                "es": "Tablet",
                "fr": "Tablette",
                "pt-PT": "Tablet"
            },
            "default": 2
        },
        {
            "type": "range",
            "id": "mobile-products-per-row",
            "min": 1,
            "max": 3,
            "step": 1,
            "label": {
                "en": "Mobile",
                "de": "Mobil",
                "es": "Móvil",
                "fr": "Téléphone mobile",
                "pt-PT": "Telemóvel"
            },
            "default": 1
        },
        {
            "type": "range",
            "id": "collection-products-per-page",
            "min": 1,
            "max": 10,
            "step": 1,
            "label": {
                "en": "Number of rows per page",
                "de": "Anzahl an Zeilen pro Seite",
                "es": "Número de filas por página",
                "fr": "Nombre de lignes par page",
                "pt-PT": "Número de linhas por página"
            },
            "default": 4,
            "info": {
                "en": "Only applicable to desktop",
                "de": "Gilt nur für den Desktop",
                "es": "Solo aplicable a escritorio",
                "fr": "Ne s'applique qu'aux ordinateurs de bureau",
                "pt-PT": "Apenas aplicável no ambiente de trabalho"
            }
        },
        {
          "type": "select",
          "id": "pagination_options",
          "label": {
              "en": "Pagination type",
              "de": "Seitenzählungsart",
              "es": "Tipo de paginación",
              "fr": "Type de pagination",
              "pt-PT": "Tipo de paginação"
          },
          "options": [
              {
                  "value": "pagination_default",
                  "label": {
                      "en": "Paged navigation",
                      "de": "Seitennummerierte Navigation",
                      "es": "Navegación paginada",
                      "fr": "Navigation paginée",
                      "pt-PT": "Navegação por página"
                  }
              },
              {
                  "value": "pagination_infinite_scrolling",
                  "label": {
                      "en": "Infinite scrolling",
                      "de": "Unbegrenztes Scrolling",
                      "es": "Desplazamiento infinito",
                      "fr": "Défilement infini",
                      "pt-PT": "Scrolling infinito"
                  }
              },
              {
                  "value": "pagination_load_more",
                  "label": {
                      "en": "Load more button",
                      "de": "Schaltfläche \"Mehr anzeigen\"",
                      "es": "Cargar botón más",
                      "fr": "Charger plus de boutons",
                      "pt-PT": "Botão carregar mais"
                  }
              }
          ],
          "default": "pagination_load_more"
        }
    ],
    "blocks": [
      {
        "type": "product_card_image",
        "name": "Product image",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "hover-effect",
            "label": {
                "en": "Enable hover effect",
                "de": "Hover-Effekt aktivieren",
                "es": "Habilitar efecto hover",
                "fr": "Activer l'effet survol",
                "pt-PT": "Ativar efeito ao passar o rato"
            },
            "default": false,
            "info": {
                "en": "Show second product image on hover",
                "de": "Zweites Produktbild beim Hover anzeigen",
                "es": "Mostar la segunda imagen del producto al pasar el ratón sobre la imagen",
                "fr": "Afficher l'image du second produit survolé",
                "pt-PT": "Mostrar imagem do segundo produto ao passar o rato"
            }
          },
          {
            "type": "checkbox",
            "id": "enable_badges",
            "label": "Enable badges",
            "default": true,
            "info": "Sold out and Sale badges"
          }
        ]
      },
      {
        "type": "product_card_title",
        "name": "Product title",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "This is used to set the order and placement of the product title within the product cards in your collection product list."
          }
        ]
      },
      {
        "type": "product_card_vendor",
        "name": "Product vendor",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "This is used to set the order and placement of the product vendor within the product cards in your collection product list."
          }
        ]
      },
      {
        "type": "product_card_price",
        "name": "Product price",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "This is used to set the order and placement of the product price within the product cards in your collection product list."
          }
        ]
      },
      {
        "type": "product_card_button",
        "name": "Quick shop button",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "This is used to set the order and placement of the 'Add to cart' or 'View options' button within the product cards in your collection product list."
          }
        ]
      }
    ]
}
{% endschema %}
