<link rel="preload" href="{{ 'section-rich-text.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
<noscript>{{ 'section-rich-text.min.css' | asset_url | stylesheet_tag }}</noscript>

<div
  class="homepage-sections-wrapper homepage-sections-wrapper--{{ section.settings.colors }}"
    data-wetheme-section-type="text--rich-text" data-wetheme-section-id="{{ section.id }}"
>

<div class="wrapper show-on-scroll">

	<div class="homepage-indiv-section-wrapper grid--full homepage-featured-content-wrapper">

		<div class="grid__item large--five-sixths push--large--one-twelfth homepage-featured-rich-text">

			{% if section.settings.title != blank %}
				<div class="sitewide--title-wrapper">

	        <h2 class="homepage-sections--title">{{ section.settings.title | escape }}</h2>
	      </div>
			{% endif %}

			{% if section.settings.text != blank %}
				<div class="rte featured-row__subtext textarea">{{ section.settings.text }}</div>
			{% endif %}

			{% if section.settings.button_label != blank and section.settings.button_link != blank %}
				<div>
					<a href="{{ section.settings.button_link }}" class="homepage-featured-box-btn">
						{{ section.settings.button_label }}
					</a>
				</div>
			{% endif %}

		</div>

	</div>

</div>

</div>

{% schema %}
{
    "name": {
        "en": "Rich text",
        "de": "Rich Text",
        "es": "Texto enriquecido",
        "fr": "Texte riche",
        "pt-PT": "Texto rico"
    },
    "class": "rich-text",
    "settings": [
        {
            "type": "select",
            "id": "colors",
            "label": {
                "en": "Color scheme",
                "de": "Farbschema",
                "es": "Esquema de colores",
                "fr": "Palette de couleurs",
                "pt-PT": "Esquema de cores"
            },
            "default": "white",
            "options": [
                {
                    "value": "white",
                    "label": {
                        "en": "Minimal",
                        "fr": "Minimal",
                        "de": "Minimal",
                        "es": "Mínimo",
                        "pt-PT": "Mínimo"
                    }
                },
                {
                    "value": "light",
                    "label": {
                        "en": "Light",
                        "de": "Licht",
                        "es": "Luz",
                        "fr": "Clair",
                        "pt-PT": "Claro"
                    }
                },
                {
                    "value": "accent",
                    "label": {
                        "en": "Feature",
                        "de": "Eigenschaft",
                        "es": "Destacado",
                        "fr": "Caractéristique",
                        "pt-PT": "Funcionalidade"
                    }
                },
                {
                    "value": "dark",
                    "label": {
                        "en": "Dark",
                        "de": "Dunkel",
                        "es": "Oscuro",
                        "fr": "Foncé",
                        "pt-PT": "Escuro"
                    }
                }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": {
                "en": "Heading",
                "de": "Überschrift",
                "es": "Encabezado",
                "fr": "Rubrique",
                "pt-PT": "Título"
            },
            "default": {
                "en": "Welcome to our store",
                "de": "Willkommen in unserem Store",
                "es": "Bienvenido a nuestra tienda",
                "fr": "Bienvenue dans notre magasin",
                "pt-PT": "Bem-vindo/a à nossa loja"
            }
        },
        {
            "type": "richtext",
            "id": "text",
            "label": {
                "en": "Text",
                "de": "Text",
                "es": "Texto",
                "fr": "Texte",
                "pt-PT": "Texto"
            },
            "default": {
                "en": "<p>Use this text block to show store announcements, advertise products and collections, or simply welcome visitors to your store.</p>",
                "de": "<p>Verwenden Sie diesen Textblock, um Ankündigungen zu zeigen, Produkte und Kollektionen zu bewerben oder einfach Besucher in Ihrem Store willkommen zu heißen.</p>",
                "es": "<p>Utilice este bloque de texto para mostrar avisos de la tienda, anunciar productos y colecciones o, simplemente, para dar la bienvenida a los visitantes. </p>",
                "fr": "<p>Utilisez ce bloc de texte pour afficher les annonces en magasin, annoncer des produits et des collections ou simplement accueillir les visiteurs dans votre magasin. </p>",
                "pt-PT": "<p>Utilize este bloco de texto para exibir anúncios da loja, publicitar produtos e coleções, ou apenas dar as boas-vindas às pessoas que visitam a sua loja.</p>"
            }
        },
        {
            "type": "text",
            "id": "button_label",
            "label": {
                "en": "Button label",
                "de": "Button-Bezeichnung",
                "es": "Etiqueta del botón",
                "fr": "Étiquette du bouton",
                "pt-PT": "Etiqueta do botão"
            }
        },
        {
            "type": "url",
            "id": "button_link",
            "label": {
                "en": "Button link",
                "de": "Buttonlink",
                "es": "Enlace del botón",
                "fr": "Lien du bouton",
                "pt-PT": "Ligação do botão"
            }
        }
    ],
    "presets": [
        {
            "name": {
                "en": "Rich text",
                "de": "Rich Text",
                "es": "Texto enriquecido",
                "fr": "Texte riche",
                "pt-PT": "Texto rico"
            },
            "category": {
                "en": "Text",
                "de": "Text",
                "es": "Texto",
                "fr": "Texte",
                "pt-PT": "Texto"
            }
        }
    ]
}
{% endschema %}
